<nav>
  <img src="{{ url_for('static', filename='img/admin.jpg') }}" alt="Admin Avatar" class="admin-avatar">
  <ul>
    <li><span class="highlighted">СТАТИСТИКА</span></li>
    <li><a href="/">Все пользователи</a></li>
    <li><a href="statistics-week">Пользователи за неделю</a></li>
    <li><a href="statistics-month">Пользователи за месяц</a></li>
    <li><a href="test">Результаты теста</a></li>
    <li><span class="highlighted">БОТ</span></li>
    <li><a href="tools-change">Изменить содержимое кнопок</a></li>
    <li><a href="tools-add">Добавить пост</a></li>
  </ul>
</nav>