<nav>
  <img src="admin-avatar.jpg" alt="Admin Avatar" class="admin-avatar">
  <span class="admin-title">admin</span>
  <ul>
    <li><a href="#">СТАТИСТИКА</a></li>
    <li><a href="#">Все пользователи</a></li>
    <li><a href="#">Пользователи за день</a></li>
    <li><a href="#">Пользователи за неделю</a></li>
    <li><a href="#">Пользователи за месяц</a></li>
    <li><a href="#">Выполнили условие</a></li>
    <li><a href="#">БОТ</a></li>
    <li><a href="#">Изменить содержимое кнопок</a></li>
    <li><a href="#">Изменить проценты начислений</a></li>
  </ul>
</nav>